---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---
{% include base_path %}
<h2><i class="fas fa-graduation-cap"></i> Education</h2>
<hr>
<div class="timeline-container">
  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Ph.D in Information Science and Technology</b>
        <p>Vidyasirimedhi Institute of Science and Technology</p>
        <span>
          <i class="far fa-clock"></i> August 2018 - Present
        </span>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>B.S. in Computer Science</b>
        <p>Khon Kaen University</p>
        <span>
          <i class="far fa-clock"></i> August 2014 - July 2018
        </span>
      </span>
    </div>
  </div>
</div>



<h2><i class="fas fa-briefcase"></i> Research Experience</h2>
<hr>
<div class="timeline-container">
  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Ph.D. Researcher</b>
        <p>BRAIN-INTERFACEs Lab, School of Information Science and Technology (IST), Vidyasirimedhi Institute of Science and Technology (VISTEC), Rayong, Thailand.</p>
        <span>
          <i class="far fa-clock"></i> August 2018 – Present
        </span>
        <ul>
          <li>Conducting research in the areas of machine learning, deep learning, and signal processing, with a focus on brain-computer interfaces and assistive technologies. Supervised by Assoc. Prof. Theerawit Wilaiprasitporn.</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Researcher</b>
        <p>PTTEP International Limited (Yangon branch), Myanmar</p>
        <span>
          <i class="far fa-clock"></i> February 2021 – December 2021
        </span>
        <ul>
          <li>Developed PIG signaller detection using deep learning approaches.</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Researcher</b>
        <p>VISRA: VISTEC-PTT Robotics AI and Intelligent Solution, Thailand</p>
        <span>
          <i class="far fa-clock"></i> October 2018 – December 2019
        </span>
        <ul>
          <li>Developed a motor imagery-based BCI system for controlling a lower-limb exoskeleton.</li>
        </ul>
      </span>
    </div>
  </div>
</div>



<h2><i class="fas fa-briefcase"></i> Work Experience</h2>
<hr>
<div class="timeline-container">
  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Mentor</b>
        <p><a href="https://ai-builders.github.io/" target="_blank">AI Builders</a>, VISTEC, AIResearch, and Central Digital</p>
        <span>
          <i class="far fa-clock"></i> April 2022 – July 2022
        </span>
        <ul>
          <li>Advised high school students to complete their AI projects</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Mentor</b>
        <p>SCB Challenge '15, The Siam Commercial Bank, Thailand</p>
        <span>
          <i class="far fa-clock"></i> October 2020
        </span>
        <ul>
          <li>Designed lesson plans and activities for a high school students workshop</li>
          <li>Taught basic Python, wearable devices, and machine learning</li>
          <li>Followed up and advised students to complete their projects</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Mentor</b>
        <p>SCB Challenge '14, The Siam Commercial Bank, Thailand</p>
        <span>
          <i class="far fa-clock"></i> November 2019
        </span>
        <ul>
          <li>Taught basic Python, BCIs, UX, and UI design for high school students</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Exchange Student</b>
        <p>Yamaguchi University, Japan</p>
        <span>
          <i class="far fa-clock"></i> November 2017
        </span>
        <ul>
          <li>Participated in the Japan-Asia Youth Exchange Program in Science (SAKURA Exchange Program in Science), Japan Science and Technology Agency (JST)</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Internship</b>
        <p>True Corporation Public Company Limited, Thailand (True Academy Project)</p>
        <span>
          <i class="far fa-clock"></i> Jun 2017 – Jul 2017
        </span>
        <ul>
          <li>Worked on a server monitoring project at the Service Command Center</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="milestone">
    <div class="tl-content-container">
      <span class="tl-content">
        <b>Internship</b>
        <p>Thai Beverage Logistics Company Limited, Thailand</p>
        <span>
          <i class="far fa-clock"></i> August 2016 – January 2017
        </span>
        <ul>
          <li>Developed a mobile application for logistic operations for truck drivers</li>
        </ul>
      </span>
    </div>
  </div>
</div>



<h2><i class="fas fa-cogs"></i> Skills</h2>
<hr>
<li>Expert in Python, MATLAB, and Object-Oriented Programming (OOP)</li>
<li>Proficient in deep learning and machine learning tools, including TensorFlow, PyTorch, Scikit-learn, MNE, and EEGLAB</li>
<li>Strong experience with Conda, Docker, and Git for software development and deployment</li>
<li>Expertise in bio-signal processing and visualization, specifically EEG and EMG signals</li>
<li>Extensive experience with BCI tools, including g.HIAMP, g.USBAMP, OpenBCI, MUSE EEG headband, and Delsys Trigno Wireless EMG</li>
<li>In-depth experience with various EEG public datasets and state-of-the-art EEG classification models</li>
<li>Skilled in experimental setup for bio-signal recording and IRB proposal writing</li>
<li>Experienced in advising and mentoring high school, undergraduate, and doctoral students on research methodologies</li>


<h2><i class="fas fa-book"></i> Publications</h2>
<hr>
<ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
<p><b><sup>*</sup> equal contributions</b></p>

<h2><i class="fas fa-award""></i> Scholarships</h2>
<hr>
<ul>
  <li>
    <b>Graduate study</b>
    <p>Received a fully-funded scholarship from PTT Public Company Limited and The Siam Commercial Bank</p>
  </li>
  <li>
    <b>Undergraduate study</b>
    <p>Received a fully-funded scholarship from the Department of Computer Science, Khon Kaen University</p>
  </li>
  <li>
    <b>High school study</b>
    <p>Received a fully-funded scholarship from Princess Chulabhorn’s Science High School Loei</p>
  </li>
</ul>


<!-- 
<h2>Talks</h2><hr>
  <ul>{% for post in site.talks reversed %}
    {% include archive-single-talk-cv.html  %}
  {% endfor %}</ul>

<h2>Teaching</h2><hr>
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h2>Service and leadership</h2><hr>
<li>Currently signed in to 43 different slack teams</li> -->
